body{
  background-color: beige;
}

.addTaskButton{
  background-color: rgb(18, 203, 18);
}

ul{
  list-style: none;
  padding: 0;
}

input[type="text"]{
  height: 3.5vh;
  margin: 0.5rem 0;
  width: 30vw;
}

input[type="button"]{
  border-radius: 0.4rem;
  color: white;
  font-weight: bold;
  height: min-content;
  padding: 0.5rem;
}

.removeButton{
  background-color: rgb(255, 42, 70);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}